@import "waypoint";
@import "slick";

.u-position-origin {
  position: relative;
  height: 100%;
}

.u-block {
  display: block;
}

.u-text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

html.is-others {
  .u-hover {
    -webkit-transition: opacity 0.8s linear 0.05s;
    transition: opacity 0.8s linear 0.05s;

    &:hover {
      opacity: 0.6;
      -webkit-transition: opacity 0.1s cubic-bezier(0, 0.6, 0.2, 1);
      transition: opacity 0.1s cubic-bezier(0, 0.6, 0.2, 1);
    }
  }

  .u-hover--underline {
    -webkit-transition: opacity 0.8s linear 0.05s;
    transition: opacity 0.8s linear 0.05s;
    text-decoration: underline;

    &:hover {
      opacity: 0.6;
      -webkit-transition: opacity 0.1s cubic-bezier(0, 0.6, 0.2, 1);
      transition: opacity 0.1s cubic-bezier(0, 0.6, 0.2, 1);
    }
  }

  .u-hover--white {
    -webkit-transition: background 0.8s linear 0.05s;
    transition: background 0.8s linear 0.05s;

    &:hover {
      background-color: #fff !important;
    }
  }
}
