.p-top__mainVisual {
  position: relative;
}

.p-top__mainVisual__inner {
  position: absolute;
  display: block;
  width: 50%;
  min-width: 700px;
  right: 0;
  bottom: 0;
  margin-left: auto;
  padding-left: 12.5vw;
  z-index: 20;
}

.p-top__journey__banner__title {
  position: absolute;
  top: 10vw;
  color: #fff;
  line-height: 1;
  z-index: 50;

  > {
    small {
      display: block;
      margin-bottom: 15px;
      font-weight: 600;
    }

    strong {
      display: block;
      font-size: 3.4375vw;
      letter-spacing: 0.1em;
      margin-bottom: 5px;
    }

    span {
      display: block;
      font-size: 1.5vw;
      letter-spacing: 0.1em;
    }
  }
}

.p-top__journey__panel {
  position: relative;
  width: 43.75vw;
  padding: 60px 6.25vw 40px;
  margin-top: -11.25vw;
  background-color: #fff;
  z-index: 30;
}

.p-top__journey__panel__title {
  line-height: 1;
  margin-bottom: 30px;

  > {
    small {
      display: inline-block;
      margin-right: 20px;
      padding-top: 5px;
      font-weight: 600;
      vertical-align: top;
    }

    span {
      display: inline-block;
      font-size: 3rem;
      font-weight: 700;
      letter-spacing: 0.1em;
      vertical-align: top;
    }
  }
}

.p-top__mainVisual__head {
  position: relative;
  width: 100%;
  height: 65px;

  h1 {
    color: #fff;
  }

  img {
    position: absolute;
    width: 565px;
    height: 7.5vw;
    top: 0;
    right: 0;
  }
}

.p-top__mainVisual__body {
  width: 500px;
  margin-left: auto;
  padding-top: 2.5vw;
  padding-bottom: 4.375vw;
  color: #fff;

  p {
    font-size: 1.6rem;
    line-height: 2.5;
    letter-spacing: 0.1em;

    span:nth-child(4) {
      span:first-child {
        svg {
          position: relative;
          top: 0.3vw;
          right: 0.5vw;
        }

        small {
          font-size: 100%;
          font-weight: bold;
        }
      }

      span:nth-child(2) {
        svg {
          margin: 0 0 0 0.7vw;
          position: relative;
          top: 0.5vw;
        }

        small {
          font-size: 100%;
          font-weight: bold;
        }
      }

      span:last-child {
        svg {
          margin: 0 0.7vw 0 0.7vw;
          position: relative;
          top: 0.5vw;
        }

        small {
          font-size: 100%;
          font-weight: bold;
        }
      }
    }
  }
}

.p-top__mainVisual__foot {
  width: 500px;
  margin-left: auto;
}

.p-top__mainVisual__news {
  margin-bottom: -25%;
  padding: 50px 50px 40px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.15);
}

.p-top__mainVisual__news__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;
  font-weight: 700;

  p {
    display: inline-block;
    padding-right: 35px;
  }

  &::after {
    width: 100%;
    height: 1px;
    content: "";
    position: relative;
    display: inline-block;
    background-color: #1a1a1a;
  }
}

.p-top__mainVisual__news__title {
  font-weight: 700;
  line-height: 2.5;
}

.p-top__news__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-top__news__thumb {
  width: 80px;
  height: 80px;
  background-color: #1a1a1a;
}

.p-top__news__left {
  width: 80px;
  padding-top: 10px;
}

.p-top__news__right {
  width: calc(100% - 80px);
  padding-left: 20px;
  overflow: hidden;
}

.p-top__about {
  position: relative;
  padding-bottom: 140px;
  overflow: hidden;

  &::before {
    display: block;
    width: 62.5%;
    height: 100%;
    content: "";
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #f0ece9;
  }
}

.p-top__about__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 210px;
  z-index: 10;
}

.p-top__about__img {
  display: block;
  position: relative;
  width: 43.75vw;
  height: 28.75vw;
}

.p-top__about__head {
  width: 50%;
}

.p-top__about__foot {
  width: 50%;
  padding-top: 5.3125vw;
  padding-right: 6.25vw;
  padding-left: 6.25vw;
}

.p-top__about__title {
  margin-bottom: 40px;
  font-size: 3.2rem;
  font-weight: 700;
}

.p-top__about__btn {
  margin-top: 40px;
}

.p-top__journey__menu__item {
  width: 107.142857%;

  &:nth-of-type(odd) {
    margin-left: -6.25vw;

    .p-top__journey__banner__title {
      left: 12.5vw;
    }
  }

  &:nth-of-type(2n) {
    margin-left: 0;

    .p-top__journey__banner__title {
      left: 56.25vw;
    }

    .p-top__journey__panel {
      margin-left: auto;
    }
  }
}

.p-top__journey__banner {
  display: block;
  width: 100%;
  height: 37.5vw;
}

.p-top__journey__panel__btn {
  margin-top: 20px;
}

.p-top__eventCalender {
  position: relative;
  padding-top: 7.5vw;
  padding-bottom: 13.75vw;

  &::before {
    display: block;
    width: 100%;
    height: 31.25vw;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f0ece9;
  }
}

.p-top__eventCalender__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  z-index: 20;
}

.p-top__eventCalender__head {
  display: block;
  width: 50%;
}

.p-top__eventCalender__img {
  width: 100%;
  height: 31.25vw;
}

.p-top__eventCalender__foot {
  width: 50%;
  padding: 0 6.25vw;
}

.p-top__eventCalender__title {
  margin-bottom: 3.75vw;
  font-size: 5.625vw;
  line-height: 1;
  letter-spacing: 0.05em;
}

.p-top__eventCalender__title--sub {
  position: relative;
  text-indent: 1.5em;
  font-weight: 700;

  &::before {
    display: block;
    width: 1em;
    height: 1px;
    content: "";
    position: absolute;
    top: 1em;
    left: 0;
    background-color: #1a1a1a;
  }
}

.p-top__eventCalender__btn {
  margin-top: 40px;
}

.p-top__access {
  position: relative;

  &::before {
    display: block;
    width: 62.5vw;
    height: 50vw;
    content: "";
    position: absolute;
    top: 7.1875vw;
    left: 0;
    background-color: #f0ece9;
  }
}

.p-top__access__inner {
  position: relative;
  z-index: 20;
}

.p-top__access__body {
  padding-bottom: 6.25vw;
}

.p-top__access__banner {
  display: block;
  width: 100%;
  height: 37.5vw;

  img {
    width: 100%;
    height: auto;
  }
}

.p-top__access__panel {
  position: relative;
  width: 31.25vw;
  min-width: 500px;
  margin-top: -10vw;
  margin-left: 6.25vw;
  padding: 50px 50px 40px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.15);
  z-index: 30;
}

.p-top__access__btn {
  margin-top: 20px;
}

.p-top__map {
  background-image: url(images/dummy/google_map.jpg);
  background-size: cover;
}

@media screen and (max-width: 1200px) {
  .p-top__about__foot {
    padding-right: 0;
  }
}

@media screen and (min-width: 1600px) {
  .p-top__mainVisual__body {
    padding-top: 40px;
    padding-bottom: 70px;
  }

  .p-top__btn {
    margin-top: 25px;
  }

  .p-top__journey__banner__title > {
    strong {
      font-size: 5.5rem;
    }

    span {
      font-size: 2.4rem;
    }
  }

  .p-top__journey__panel {
    margin-top: -180px;
  }

  .p-top__eventCalender {
    position: relative;
    padding-top: 120px;
    padding-bottom: 220px;

    &::before {
      height: 500px;
    }
  }

  .p-top__eventCalender__title {
    margin-bottom: 60px;
    font-size: 9rem;
  }

  .p-top__access::before {
    top: 105px;
  }

  .p-top__access__panel {
    width: 500px;
    margin-top: -160px;
  }
}

@media screen and (max-width: 768px) {
  .p-top__mainVisual__inner {
    width: 100%;
    min-width: 0;
    padding-left: 0;
  }

  .p-top__mainVisual__head {
    height: auto;

    img {
      position: static;
      width: 81.5vw;
      height: 9.333vw;
    }
  }

  .p-top__mainVisual__body {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 40px;

    p {
      font-size: 1.1rem;
      line-height: 1.8;
    }
  }

  .p-top__mainVisual__foot {
    width: 100%;
  }

  .p-top__mainVisual__news {
    padding: 17.5px 20px 7.5px;
  }

  .p-top__mainVisual__news__date {
    margin-bottom: 15px;
    font-size: 1rem;

    p {
      padding-right: 15px;
    }
  }

  .p-top__mainVisual__news__title {
    font-size: 1.2rem;
    line-height: 1.875;
  }

  .p-top__mainVisual__news__btn {
    margin-top: 10px;
  }

  .p-top__news__thumb {
    width: 45px;
    height: 45px;
  }

  .p-top__news__left {
    width: 45px;
    padding-top: 5px;
  }

  .p-top__news__right {
    width: calc(100% - 45px);
    padding-left: 15px;
  }

  .p-top__about {
    padding-bottom: 70px;

    &::before {
      height: 185vw;
    }
  }

  .p-top__about__inner {
    display: block;
    padding-top: 115px;
  }

  .p-top__about__img {
    width: 107.142857142857%;
    height: 61.333vw;
    margin-left: -6.25vw;
  }

  .p-top__about__head {
    width: 100%;
  }

  .p-top__about__foot {
    width: 100%;
    padding-top: 50px;
    padding-right: 0;
    padding-left: 0;
  }

  .p-top__about__title {
    padding-right: 10vw;
    margin-bottom: 20px;
    font-size: 2.5rem;
    line-height: 1.4;
  }

  .p-top__about__btn {
    margin-top: 15px;
  }

  .p-top__journey__banner__title {
    top: 18vw;

    > {
      strong {
        margin-bottom: 8px;
        font-size: 7.3vw;
      }

      span {
        font-size: 1.2rem;
      }
    }
  }

  .p-top__journey__menu__item {
    width: 100vw;

    &:nth-of-type(odd) .p-top__journey__banner__title {
      left: 6.25vw;
    }

    &:nth-of-type(2n) {
      margin-left: -6.25vw;

      .p-top__journey__banner__title {
        left: 18.75vw;
      }
    }
  }

  .p-top__journey__banner {
    height: 66.66667vw;
  }

  .p-top__journey__panel {
    width: 87.5vw;
    margin-top: -13.333vw;
    padding-top: 30px;
    padding-bottom: 35px;
  }

  .p-top__journey__panel__title {
    margin-bottom: 15px;

    > {
      small {
        margin-right: 10px;
        font-size: 1rem;
      }

      span {
        font-size: 2.5rem;
      }
    }
  }

  .p-top__eventCalender {
    padding-top: 25px;
    padding-bottom: 70px;

    &::before {
      height: 106.6vw;
      top: 75px;
    }
  }

  .p-top__eventCalender__inner {
    display: block;
  }

  .p-top__eventCalender__head {
    width: 100%;
    margin-bottom: 35px;
  }

  .p-top__eventCalender__img {
    height: 61.333vw;
  }

  .p-top__eventCalender__foot {
    width: 100%;
    padding: 0;
  }

  .p-top__eventCalender__title {
    margin-bottom: 20px;
    font-size: 9.3vw;
  }

  .p-top__eventCalender__btn {
    margin-top: 20px;
  }

  .p-top__access::before {
    top: 145px;
    width: 87.5vw;
    height: 66.6667vw;
  }

  .p-top__access__body {
    padding-bottom: 45px;
  }

  .p-top__access__foot {
    display: none;
  }

  .p-top__access__banner {
    height: 53.333vw;
  }

  .p-top__access__panel {
    width: 60.6667vw;
    min-width: 0;
    margin-top: -90px;
    padding: 20px 25px 10px;
  }

  .p-top__access__panel__btn {
    margin-top: 10px;
  }

  .p-top__access__title {
    position: relative;
    left: -0.3em;
  }
}
