.c-btn--back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  width: 200px;
  height: 50px;
  padding-top: 2px;
  padding-left: 15px;
  color: #1a1a1a;
  font-size: 1.4rem;
  line-height: 1;
  border: 1px solid rgba(0, 0, 0, 0.2);
  overflow: hidden;

  .p-hover__bg {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.45, 0.1, 0.5, 0.95);
    transition: -webkit-transform 0.5s cubic-bezier(0.45, 0.1, 0.5, 0.95);
    transition: transform 0.5s cubic-bezier(0.45, 0.1, 0.5, 0.95);
    transition: transform 0.5s cubic-bezier(0.45, 0.1, 0.5, 0.95), -webkit-transform 0.5s cubic-bezier(0.45, 0.1, 0.5, 0.95);
    -webkit-transform: translate3d(105%, -105%, 0) rotate(-45deg);
    transform: translate3d(105%, -105%, 0) rotate(-45deg);
    -webkit-transform-origin: center;
    transform-origin: center;
  }
}

.c-btn--back__text {
  position: relative;
  z-index: 10;
  -webkit-transition: color 0.6s cubic-bezier(0.45, 0.1, 0.5, 0.95) 0.1s, -webkit-transform 0.6s cubic-bezier(0.45, 0.1, 0.5, 0.95) 0.1s;
  transition: color 0.6s cubic-bezier(0.45, 0.1, 0.5, 0.95) 0.1s, -webkit-transform 0.6s cubic-bezier(0.45, 0.1, 0.5, 0.95) 0.1s;
  transition: color 0.6s cubic-bezier(0.45, 0.1, 0.5, 0.95) 0.1s, transform 0.6s cubic-bezier(0.45, 0.1, 0.5, 0.95) 0.1s;
  transition: color 0.6s cubic-bezier(0.45, 0.1, 0.5, 0.95) 0.1s, transform 0.6s cubic-bezier(0.45, 0.1, 0.5, 0.95) 0.1s, -webkit-transform 0.6s cubic-bezier(0.45, 0.1, 0.5, 0.95) 0.1s;
}

.c-btn--back__bar {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.45, 0.1, 0.5, 0.95) 0.15s;
  transition: -webkit-transform 0.6s cubic-bezier(0.45, 0.1, 0.5, 0.95) 0.15s;
  transition: transform 0.6s cubic-bezier(0.45, 0.1, 0.5, 0.95) 0.15s;
  transition: transform 0.6s cubic-bezier(0.45, 0.1, 0.5, 0.95) 0.15s, -webkit-transform 0.6s cubic-bezier(0.45, 0.1, 0.5, 0.95) 0.15s;
  z-index: 15;

  span {
    display: inline-block;
    position: absolute;
    width: 6px;
    height: 2px;
    background-color: #1a1a1a;
    top: 50%;
    left: 30px;
    -webkit-transition: background-color 0.6s cubic-bezier(0.45, 0.1, 0.5, 0.95) 0.15s, -webkit-transform 0.6s cubic-bezier(0.45, 0.1, 0.5, 0.95) 0.15s;
    transition: background-color 0.6s cubic-bezier(0.45, 0.1, 0.5, 0.95) 0.15s, -webkit-transform 0.6s cubic-bezier(0.45, 0.1, 0.5, 0.95) 0.15s;
    transition: transform 0.6s cubic-bezier(0.45, 0.1, 0.5, 0.95) 0.15s, background-color 0.6s cubic-bezier(0.45, 0.1, 0.5, 0.95) 0.15s;
    transition: transform 0.6s cubic-bezier(0.45, 0.1, 0.5, 0.95) 0.15s, background-color 0.6s cubic-bezier(0.45, 0.1, 0.5, 0.95) 0.15s, -webkit-transform 0.6s cubic-bezier(0.45, 0.1, 0.5, 0.95) 0.15s;

    &:first-of-type {
      -webkit-transform: rotate(45deg) translateY(2px);
      transform: rotate(45deg) translateY(2px);
    }

    &:nth-of-type(2) {
      -webkit-transform: rotate(-45deg) translateY(-2px);
      transform: rotate(-45deg) translateY(-2px);
    }
  }
}

.c-btn--back.is-hover {
  .p-hover__bg {
    -webkit-transform: translateZ(0) rotate(0deg) scaleY(1.2);
    transform: translateZ(0) rotate(0deg) scaleY(1.2);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.25, 0.45, 0.45, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.25, 0.45, 0.45, 1);
    transition: transform 0.5s cubic-bezier(0.25, 0.45, 0.45, 1);
    transition: transform 0.5s cubic-bezier(0.25, 0.45, 0.45, 1), -webkit-transform 0.5s cubic-bezier(0.25, 0.45, 0.45, 1);
  }

  .c-btn--back__text {
    color: #fff;
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
    -webkit-transition: color 0.6s cubic-bezier(0.25, 0.45, 0.45, 1) 0.1s, -webkit-transform 0.6s cubic-bezier(0.25, 0.45, 0.45, 1) 0.1s;
    transition: color 0.6s cubic-bezier(0.25, 0.45, 0.45, 1) 0.1s, -webkit-transform 0.6s cubic-bezier(0.25, 0.45, 0.45, 1) 0.1s;
    transition: color 0.6s cubic-bezier(0.25, 0.45, 0.45, 1) 0.1s, transform 0.6s cubic-bezier(0.25, 0.45, 0.45, 1) 0.1s;
    transition: color 0.6s cubic-bezier(0.25, 0.45, 0.45, 1) 0.1s, transform 0.6s cubic-bezier(0.25, 0.45, 0.45, 1) 0.1s, -webkit-transform 0.6s cubic-bezier(0.25, 0.45, 0.45, 1) 0.1s;
  }

  .c-btn--back__bar {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.25, 0.45, 0.45, 1) 0.15s;
    transition: -webkit-transform 0.6s cubic-bezier(0.25, 0.45, 0.45, 1) 0.15s;
    transition: transform 0.6s cubic-bezier(0.25, 0.45, 0.45, 1) 0.15s;
    transition: transform 0.6s cubic-bezier(0.25, 0.45, 0.45, 1) 0.15s, -webkit-transform 0.6s cubic-bezier(0.25, 0.45, 0.45, 1) 0.15s;

    span {
      background-color: #fff;
      -webkit-transition: background-color 0.6s cubic-bezier(0.25, 0.45, 0.45, 1) 0.15s, -webkit-transform 0.6s cubic-bezier(0.25, 0.45, 0.45, 1) 0.15s;
      transition: background-color 0.6s cubic-bezier(0.25, 0.45, 0.45, 1) 0.15s, -webkit-transform 0.6s cubic-bezier(0.25, 0.45, 0.45, 1) 0.15s;
      transition: transform 0.6s cubic-bezier(0.25, 0.45, 0.45, 1) 0.15s, background-color 0.6s cubic-bezier(0.25, 0.45, 0.45, 1) 0.15s;
      transition: transform 0.6s cubic-bezier(0.25, 0.45, 0.45, 1) 0.15s, background-color 0.6s cubic-bezier(0.25, 0.45, 0.45, 1) 0.15s, -webkit-transform 0.6s cubic-bezier(0.25, 0.45, 0.45, 1) 0.15s;

      &:first-of-type {
        -webkit-transform: rotate(-315deg) translateY(2px);
        transform: rotate(-315deg) translateY(2px);
      }

      &:nth-of-type(2) {
        -webkit-transform: rotate(315deg) translateY(-2px);
        transform: rotate(315deg) translateY(-2px);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .c-btn--back {
    width: 150px;
    height: 38px;
    padding-top: 2px;
    font-size: 1rem;
  }
}
