.c-btn--scrollRecommend {
  width: 180px;
  -webkit-transform: rotate(90deg) translateX(-100%);
  transform: rotate(90deg) translateX(-100%);
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
  line-height: 1;
  overflow: hidden;
}

.c-btn--scrollRecommend__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: -webkit-transform 1.4s cubic-bezier(0.55, 0.1, 0.2, 1);
  transition: -webkit-transform 1.4s cubic-bezier(0.55, 0.1, 0.2, 1);
  transition: transform 1.4s cubic-bezier(0.55, 0.1, 0.2, 1);
  transition: transform 1.4s cubic-bezier(0.55, 0.1, 0.2, 1), -webkit-transform 1.4s cubic-bezier(0.55, 0.1, 0.2, 1);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.c-btn--scrollRecommend__text {
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 0.2em;
}

.c-btn--scrollRecommend__line {
  position: relative;
  width: 100px;
  height: 1px;
  z-index: 50;
  overflow: hidden;

  &::before {
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: hsla(0, 0%, 100%, 0.4);
  }
}

.c-btn--scrollRecommend__line__inner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 40;
}

.c-btn--scrollRecommend.is-hide {
  pointer-events: none;

  .c-btn--scrollRecommend__inner {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.55, 0.1, 0.2, 1);
    transition: -webkit-transform 1s cubic-bezier(0.55, 0.1, 0.2, 1);
    transition: transform 1s cubic-bezier(0.55, 0.1, 0.2, 1);
    transition: transform 1s cubic-bezier(0.55, 0.1, 0.2, 1), -webkit-transform 1s cubic-bezier(0.55, 0.1, 0.2, 1);
  }
}
