.p-subFooter {
  padding-top: 10vw;
  padding-bottom: 6.25vw;
}

.p-subFooter__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.p-subFooter__menu__item {
  position: relative;
  width: 48.333333%;
  height: 16.25vw;
  background-color: #f0ece9;
}

.p-subFooter__menu__thumb {
  display: block;
  width: 15.625vw;
  height: 18.75vw;
}

.p-subFooter__menu__foot {
  position: relative;
  padding-top: 4.375vw;
  padding-left: 3.125vw;
}

.p-subFooter__menu__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transform: translate3d(0, -5.625vw, 0);
  transform: translate3d(0, -5.625vw, 0);
  padding-left: 3.125vw;
}

.p-subFooter__menu__title {
  margin-bottom: 1.875vw;

  p {
    margin-bottom: 0.9375vw;
    font-size: 2.8125vw;
    line-height: 1;
    letter-spacing: 0.1em;
  }
}

.p-subFooter__menu__btn {
  position: absolute;
  white-space: nowrap;
  top: 13.75vw;
  left: 3.125vw;
}

@media screen and (max-width: 1600px) {
  .p-subFooter__menu__btn {
    padding-left: 5.9375vw;
    font-size: 1vw;

    &::before {
      width: 5vw;
    }
  }
}

@media screen and (max-width: 768px) {
  .p-subFooter {
    padding-top: 18.6667vw;
    padding-bottom: 13.3333vw;
  }

  .p-subFooter__menu {
    display: block;
    padding-right: 0;
    padding-left: 0;
  }

  .p-subFooter__menu__item {
    position: relative;
    width: 100%;
    height: 33.3333vw;
    min-height: 125px;

    &:not(:last-of-type) {
      margin-bottom: 16vw;
    }
  }

  .p-subFooter__menu__thumb {
    width: 26.6667vw;
    height: 32vw;
  }

  .p-subFooter__menu__foot {
    padding-top: 8.6667vw;
    padding-left: 6.25vw;
  }

  .p-subFooter__menu__inner {
    -webkit-transform: translate3d(0, -12vw, 0);
    transform: translate3d(0, -12vw, 0);
    padding-left: 6.25vw;
  }

  .p-subFooter__menu__title {
    margin-bottom: 1.875vw;

    p {
      margin-bottom: 0.9375vw;
      font-size: 6.6667vw;
      line-height: 1;
      letter-spacing: 0.1em;
    }

    span {
      font-size: 3.2vw;
    }
  }

  .p-subFooter__menu__btn {
    position: absolute;
    white-space: nowrap;
    top: 32vw;
    left: 6.25vw;
    padding-left: 95px;
    font-size: 1.3rem;

    &::before {
      width: 80px;
    }
  }
}
