.c-banner--bg__cover {
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 1px) scale(1);
  transform: translate3d(-50%, -50%, 1px) scale(1);
  -webkit-transform-origin: left;
  transform-origin: left;
  line-height: 1;
  font-size: 0;
  letter-spacing: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.c-banner--bg__img {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.c-banner--bg {
  .p-hover__bg {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1a1a1a;
    opacity: 0;
    -webkit-transform: translate3d(-50%, -100%, 0) rotate(20deg) scaleY(1.8);
    transform: translate3d(-50%, -100%, 0) rotate(20deg) scaleY(1.8);
    -webkit-transition: none;
    transition: none;
    z-index: 20;
  }

  &.is-hover {
    .c-banner--bg__cover {
      -webkit-transform: translate3d(-50%, -50%, 1px) scale(1.04);
      transform: translate3d(-50%, -50%, 1px) scale(1.04);
      -webkit-transition: -webkit-transform 0.7s ease 0.1s;
      transition: -webkit-transform 0.7s ease 0.1s;
      transition: transform 0.7s ease 0.1s;
      transition: transform 0.7s ease 0.1s, -webkit-transform 0.7s ease 0.1s;
    }

    .c-banner--bg__title {
      -webkit-transform: translate3d(15px, 0, 0);
      transform: translate3d(15px, 0, 0);
      -webkit-transition: -webkit-transform 0.7s ease 0.15s;
      transition: -webkit-transform 0.7s ease 0.15s;
      transition: transform 0.7s ease 0.15s;
      transition: transform 0.7s ease 0.15s, -webkit-transform 0.7s ease 0.15s;
    }

    .p-hover__bg {
      opacity: 0.5;
      -webkit-transform: translateZ(0) rotate(0deg) scaleY(1.8);
      transform: translateZ(0) rotate(0deg) scaleY(1.8);
      -webkit-transition: opacity 0.7s ease, -webkit-transform 0.7s ease;
      transition: opacity 0.7s ease, -webkit-transform 0.7s ease;
      transition: transform 0.7s ease, opacity 0.7s ease;
      transition: transform 0.7s ease, opacity 0.7s ease, -webkit-transform 0.7s ease;
    }
  }

  &.is-hover-out {
    .c-banner--bg__cover,
    .c-banner--bg__title {
      -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.45, 0.1, 0.5, 0.95);
      transition: -webkit-transform 0.7s cubic-bezier(0.45, 0.1, 0.5, 0.95);
      transition: transform 0.7s cubic-bezier(0.45, 0.1, 0.5, 0.95);
      transition: transform 0.7s cubic-bezier(0.45, 0.1, 0.5, 0.95), -webkit-transform 0.7s cubic-bezier(0.45, 0.1, 0.5, 0.95);
    }

    .p-hover__bg {
      opacity: 0;
      -webkit-transform: translate3d(-100%, -100%, 0) rotate(20deg) scaleY(1.8);
      transform: translate3d(-100%, -100%, 0) rotate(20deg) scaleY(1.8);
      -webkit-transition: opacity 0.65s cubic-bezier(0.45, 0.1, 0.5, 0.95), -webkit-transform 0.65s cubic-bezier(0.45, 0.1, 0.5, 0.95);
      transition: opacity 0.65s cubic-bezier(0.45, 0.1, 0.5, 0.95), -webkit-transform 0.65s cubic-bezier(0.45, 0.1, 0.5, 0.95);
      transition: transform 0.65s cubic-bezier(0.45, 0.1, 0.5, 0.95), opacity 0.65s cubic-bezier(0.45, 0.1, 0.5, 0.95);
      transition: transform 0.65s cubic-bezier(0.45, 0.1, 0.5, 0.95), opacity 0.65s cubic-bezier(0.45, 0.1, 0.5, 0.95), -webkit-transform 0.65s cubic-bezier(0.45, 0.1, 0.5, 0.95);
    }
  }

  &.left {
    .c-banner--bg__cover {
      -webkit-transform-origin: right;
      transform-origin: right;
    }

    .p-hover__bg {
      -webkit-transform: translate3d(50%, -100%, 0) rotate(-20deg) scaleY(1.8);
      transform: translate3d(50%, -100%, 0) rotate(-20deg) scaleY(1.8);
    }

    &.is-hover {
      .p-hover__bg {
        -webkit-transform: translateZ(0) rotate(0deg) scaleY(1.8);
        transform: translateZ(0) rotate(0deg) scaleY(1.8);
      }

      .c-banner--bg__title {
        -webkit-transform: translate3d(-15px, 0, 0);
        transform: translate3d(-15px, 0, 0);
      }
    }

    &.is-hover-out .p-hover__bg {
      -webkit-transform: translate3d(100%, -100%, 0) rotate(-20deg) scaleY(1.8);
      transform: translate3d(100%, -100%, 0) rotate(-20deg) scaleY(1.8);
    }
  }
}

@media screen and (max-width: 768px) {
  .c-banner--bg {
    position: relative;

    &.parallax-x .c-banner--bg__img {
      width: calc(100% + 20px);
    }
  }
}
