.p-map__btn {
  position: absolute;
  top: 0;
  background-color: hsla(0, 0%, 100%, 0.8);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 0.1, 0.5, 0.95);
  transition: -webkit-transform 0.4s cubic-bezier(0.45, 0.1, 0.5, 0.95);
  transition: transform 0.4s cubic-bezier(0.45, 0.1, 0.5, 0.95);
  transition: transform 0.4s cubic-bezier(0.45, 0.1, 0.5, 0.95), -webkit-transform 0.4s cubic-bezier(0.45, 0.1, 0.5, 0.95);
  overflow: hidden;

  .p-hover__bg {
    background-color: #1a1a1a;
  }

  &.is-hover .p-map__btn__bar span {
    background-color: #fff !important;
  }

  &.is-disabled,
  &.is-hide {
    pointer-events: none;
  }
}

@media screen and (max-width: 768px) {
  .p-map__btn {
    width: 40px;
    height: 40px;
    top: -45px;
  }
}
