.p-map__btn {
  &.go {
    right: 0;

    .p-hover__bg {
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.45, 0.1, 0.5, 0.95);
      transition: -webkit-transform 0.5s cubic-bezier(0.45, 0.1, 0.5, 0.95);
      transition: transform 0.5s cubic-bezier(0.45, 0.1, 0.5, 0.95);
      transition: transform 0.5s cubic-bezier(0.45, 0.1, 0.5, 0.95), -webkit-transform 0.5s cubic-bezier(0.45, 0.1, 0.5, 0.95);
      -webkit-transform: translate3d(-105%, -105%, 0) rotate(45deg);
      transform: translate3d(-105%, -105%, 0) rotate(45deg);
    }

    &.is-disabled,
    &.is-hide {
      -webkit-transform: translateX(50px);
      transform: translateX(50px);
    }

    &.is-hover {
      .p-hover__bg {
        -webkit-transform: translateZ(0) rotate(0deg) scaleY(1.2);
        transform: translateZ(0) rotate(0deg) scaleY(1.2);
        -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.25, 0.45, 0.45, 1);
        transition: -webkit-transform 0.5s cubic-bezier(0.25, 0.45, 0.45, 1);
        transition: transform 0.5s cubic-bezier(0.25, 0.45, 0.45, 1);
        transition: transform 0.5s cubic-bezier(0.25, 0.45, 0.45, 1), -webkit-transform 0.5s cubic-bezier(0.25, 0.45, 0.45, 1);
      }

      .p-map__btn__bar span {
        background-color: #1a1a1a;
        -webkit-transition: background-color 0.6s cubic-bezier(0.25, 0.45, 0.45, 1) 0.15s, -webkit-transform 0.6s cubic-bezier(0.25, 0.45, 0.45, 1) 0.15s;
        transition: background-color 0.6s cubic-bezier(0.25, 0.45, 0.45, 1) 0.15s, -webkit-transform 0.6s cubic-bezier(0.25, 0.45, 0.45, 1) 0.15s;
        transition: transform 0.6s cubic-bezier(0.25, 0.45, 0.45, 1) 0.15s, background-color 0.6s cubic-bezier(0.25, 0.45, 0.45, 1) 0.15s;
        transition: transform 0.6s cubic-bezier(0.25, 0.45, 0.45, 1) 0.15s, background-color 0.6s cubic-bezier(0.25, 0.45, 0.45, 1) 0.15s, -webkit-transform 0.6s cubic-bezier(0.25, 0.45, 0.45, 1) 0.15s;

        &:first-of-type {
          -webkit-transform: rotate(-45deg) translateY(2px);
          transform: rotate(-45deg) translateY(2px);
        }

        &:nth-of-type(2) {
          -webkit-transform: rotate(45deg) translateY(-2px);
          transform: rotate(45deg) translateY(-2px);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  &.go {
    left: auto;
    right: 3.125vw;
  }
}
