.p-header {
  height: 110px;
  pointer-events: all;

  .p-header__btn--navMenu {
    display: none;
  }
}

.p-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 80px;
  -webkit-transform: translate3d(0, 40px, 0);
  transform: translate3d(0, 40px, 0);
}

.p-header__logo {
  display: inline-block;
  line-height: 1;

  svg {
    width: 165px;
    height: 37px;
  }
}

@media screen and (max-width: 900px) {
  .p-header__logo svg {
    width: 132px;
    height: 30px;
  }
}

@media screen and (max-width: 768px) {
  .p-header {
    height: 75px;

    .p-header__btn--navMenu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      top: 0;
      right: 6.25vw;
      margin-right: -20px;
    }
  }

  .p-header__inner {
    height: 75px;
    -webkit-transform: none;
    transform: none;
  }

  .p-header__logo svg {
    width: 98px;
    height: 20px;
  }
}

.is-open--spNav {
  .p-header {
    .c-btn--navMenu__bar {
      &:first-of-type {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      &:nth-of-type(2) {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }

    .p-gNav {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }

  .p-spNavBg {
    opacity: 1;
    visibility: visible;
  }
}
