@import "btn/sideLine";
@import "btn/lang";
@import "btn/navMenu";
@import "btn/scrollRecommend";
@import "btn/play";
@import "btn/go";
@import "btn/back";
@import "btn/arrow";

.activity .c-btn--back .p-hover__bg {
  background-color: #3e7c75;
}

.cuisine .c-btn--back .p-hover__bg {
  background-color: #7c3e3e;
}

.accommodation .c-btn--back .p-hover__bg {
  background-color: #8a8233;
}

.sightseeing .c-btn--back .p-hover__bg {
  background-color: #3e457c;
}
