.c-description {
  font-size: 1.4rem;
  line-height: 2;

  &:not(:last-of-type) {
    margin-bottom: 10px;
  }
}

.c-descriptionWrap {
  font-size: 1.4rem;
  line-height: 2;

  p {
    font-size: 1.4rem;
    line-height: 2;

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  .c-description {
    font-size: 1.2rem;
    line-height: 1.875;

    &:not(:last-of-type) {
      margin-bottom: 15px;
    }
  }

  .c-descriptionWrap {
    font-size: 1.2rem;
    line-height: 1.875;

    p {
      font-size: 1.2rem;
      line-height: 1.875;

      &:not(:last-of-type) {
        margin-bottom: 15px;
      }
    }
  }
}
