.c-share__list__item {
  &.facebook img {
    width: 11px;
    height: 19px;
  }

  &.twitter img {
    width: 19px;
    height: 16px;
  }
}

@media screen and (max-width: 768px) {
  .c-share__list__item {
    &.facebook img {
      width: 9.9px;
      height: 17.1px;
    }

    &.twitter img {
      width: 17.1px;
      height: 14.4px;
    }
  }
}
