.p-map__labelList {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 6.25vw;
}

.p-map__labelList__item {
  a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    background-color: hsla(0, 0%, 100%, 0.5);
    font-size: 1.2rem;
    -webkit-transition: background 0.8s cubic-bezier(0.6, 0, 0.3, 1);
    transition: background 0.8s cubic-bezier(0.6, 0, 0.3, 1);

    &:hover {
      background-color: hsla(0, 0%, 100%, 0.8);
      -webkit-transition: background 0.1s cubic-bezier(0, 0.6, 0.2, 1);
      transition: background 0.1s cubic-bezier(0, 0.6, 0.2, 1);
    }

    &.is-current {
      pointer-events: none;
      background-color: hsla(0, 0%, 100%, 0.8);
    }
  }

  &:not(:last-of-type) {
    padding-right: 1px;

    a {
      width: 99px;
    }
  }
}

@media screen and (max-width: 768px) {
  .p-map__labelList {
    width: 80vw;
    padding-left: 3.125vw;
  }

  .p-map__labelList__item {
    width: 20vw;

    a {
      width: 20vw;
      height: 40px;
      font-size: 1rem;
    }

    &:not(:last-of-type) a {
      width: calc(20vw - 1px);
    }
  }
}
