.p-footerSubNav {
  text-align: center;
  line-height: 1;

  a {
    padding: 10px 15px;
    color: hsla(0, 0%, 100%, 0.4);
  }
}

.p-footerSubNav__menu__item,
.p-footerSubNav a {
  display: inline-block;
}

.p-footerSubNav__menu__item.youtube {
  opacity: 0.4;

  img {
    width: 75px;
    height: 17px;
  }
}

@media screen and (max-width: 768px) {
  .p-footerSubNav a {
    font-size: 1.2rem;
  }

  .p-footerSubNav__menu__item:last-of-type {
    display: block;
  }
}
