.p-category__intro__scroll__text {
  color: #1a1a1a;
}

.p-category__intro__scroll__line::before {
  background-color: rgba(26, 26, 26, 0.1);
}

.p-category__intro__scroll__line__inner {
  background-color: #1a1a1a;
}

.p-category__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: calc(100% + 3.125vw);
  margin-top: -20px;
  margin-left: -1.5625vw;
  -webkit-perspective: 1400px;
  perspective: 1400px;
}

.p-category__list__item {
  width: 33.3333%;
  padding: 20px 1.5625vw;

  > div {
    height: 100%;
  }
}

.p-category__card {
  display: block;
  height: 100%;
  -webkit-box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.15);
  -webkit-transform: scale(1) translateZ(0);
  transform: scale(1) translateZ(0);
  -webkit-transition: -webkit-transform 0.5s ease 0.1s, -webkit-box-shadow 0.5s ease 0.1s;
  transition: -webkit-transform 0.5s ease 0.1s, -webkit-box-shadow 0.5s ease 0.1s;
  transition: transform 0.5s ease 0.1s, box-shadow 0.5s ease 0.1s;
  transition: transform 0.5s ease 0.1s, box-shadow 0.5s ease 0.1s, -webkit-transform 0.5s ease 0.1s, -webkit-box-shadow 0.5s ease 0.1s;
  background-color: #fff;
  overflow: hidden;

  &.is-hover {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
    -webkit-transition: -webkit-transform 0.45s ease;
    transition: -webkit-transform 0.45s ease;
    transition: transform 0.45s ease;
    transition: transform 0.45s ease, -webkit-transform 0.45s ease;
  }
}

.p-category__card__thumb {
  padding-bottom: 67.567568%;
}

.p-category__card__content {
  padding-bottom: 20px;
}

.p-category__card__label {
  display: inline-block;
  position: absolute;
  top: 0;
  left: -1px;
  padding: 10px 20px;
  color: #fff;
  font-size: 1.4rem;
  letter-spacing: 0.3em;
  line-height: 1;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

.p-category__card__title {
  margin-bottom: 20px;
  font-weight: 700;
}

.p-category__card__date {
  position: absolute;
  width: calc(100% - 3.75vw);
  right: 0;
  left: 0;
  bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  border-top: 1px solid #e5e5e5;
}

.p-category__card__foot {
  position: relative;
  padding: 50px 1.875vw 55px;
}

@media screen and (min-width: 768px) {
  .p-category__list {
    width: calc(100% + 50px);
    margin-top: -20px;
    margin-left: -25px;
  }

  .p-category__list__item {
    width: 33.3333%;
    padding: 20px 25px;
  }
}

@media screen and (min-width: 1800px) {
  .p-category__list__item {
    width: 25%;
  }

  .p-category__card__foot {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 1200px) {
  .p-category__list__item {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .p-category__scroll {
    display: none;
  }

  .p-category__list__item {
    width: 100%;
  }

  .p-category__card__content {
    padding-bottom: 15px;
  }

  .p-category__card__label {
    padding: 5px 10px;
    font-size: 1.2rem;
  }

  .p-category__card__title {
    font-size: 1.7rem;
    margin-bottom: 15px;
  }

  .p-category__card__date {
    width: calc(100% - 30px);
    font-size: 1rem;
    bottom: 15px;
  }

  .p-category__card__foot {
    position: relative;
    padding: 40px 15px 50px;
  }
}
