.p-journeyTop {
  .p-journeyTop__intro__bg--map {
    position: absolute;
  }

  .p-journeyTop__intro__bg--map__img {
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &.yambaru {
    .p-journeyTop__intro__bg--map {
      width: 60.5vw;
      height: 94.125vw;
      top: -16vw;
      right: 7vw;
    }

    .p-journeyTop__intro__bg--map__img {
      // background-image: url(images/journey/common/map_yambaru.svg);
    }
  }

  &.iriomote {
    .p-journeyTop__intro__bg--map {
      width: 60.5vw;
      height: 94.120745vw;
      top: -16vw;
      right: 7vw;
    }

    .p-journeyTop__intro__bg--map__img {
      // background-image: url(images/journey/common/map_iriomote.svg);
    }
  }

  &.amami {
    .p-journeyTop__intro__bg--map {
      width: 60.5vw;
      height: 94.120745vw;
      top: -16vw;
      right: 7vw;
    }

    .p-journeyTop__intro__bg--map__img {
      // background-image: url(images/journey/common/map_amami.svg);
    }
  }

  &.tokunoshima {
    .p-journeyTop__intro__bg--map {
      width: 60.5vw;
      height: 94.120745vw;
      top: -16vw;
      right: 7vw;
    }

    .p-journeyTop__intro__bg--map__img {
      // background-image: url(images/journey/common/map_tokunoshima.svg);
    }
  }
}

.p-journeyTop__mainVisual {
  position: relative;
}

.p-journeyTop__mainVisual__inner {
  position: absolute;
  display: block;
  width: 50%;
  min-width: 700px;
  top: 50%;
  left: 0;
  padding-top: 5vw;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  z-index: 20;
}

.p-journeyTop__mainVisual__title {
  color: #fff;
  line-height: 1;

  > {
    small {
      display: block;
      font-size: 1.25vw;
      letter-spacing: 0.1em;
      margin-bottom: 1.875vw;
    }

    strong {
      display: block;
      margin-bottom: 0.9375vw;
      font-size: 6.25vw;
      letter-spacing: 0.05em;
      white-space: nowrap;
    }

    span {
      display: block;
      font-size: 1.875vw;
      letter-spacing: 0.1em;
    }
  }
}

.p-journeyTop__mainVisual__body {
  max-width: 500px;
  padding-top: 3.125vw;
  padding-bottom: 1.5625vw;
  color: #fff;

  p {
    font-size: 1.6rem;
    line-height: 2.5;
    letter-spacing: 0.1em;
  }
}

.p-journeyTop__intro {
  position: relative;
  padding-top: 6.25vw;
  overflow: hidden;
}

.p-journeyTop__intro__head {
  position: relative;
  padding-top: 6.25vw;
  padding-bottom: 3.125vw;
}

.p-journeyTop__intro__body {
  position: relative;
  padding-top: 6.25vw;
  padding-bottom: 11.875vw;
}

.p-journeyTop__overviewMenu__item {
  width: 25%;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
  line-height: 1;
}

.p-journeyTop__panel__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1.875vw;

  > {
    span {
      font-size: 2.25vw;
      letter-spacing: 0.1em;
      margin-right: 20px;
    }

    small {
      font-size: 1.125vw;
      letter-spacing: 0.1em;
    }
  }
}

.p-journeyTop__overviewMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: calc(100% + 30px);
  margin-top: 6.25vw;
  margin-left: -15px;

  dl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  dt {
    padding-right: 0.9375vw;
    padding-left: 0.9375vw;

    small {
      font-size: 1rem;
    }
  }

  dd {
    &:first-of-type {
      width: 100%;
      height: 1px;
      margin-top: 1.5625vw;
      margin-bottom: 1.5625vw;
      background-color: #d9d9d9;
    }

    span {
      font-size: 2.5vw;
    }

    small {
      font-size: 1.6rem;
    }
  }
}

.p-journeyTop__pageList__bg {
  position: absolute;
}

.p-journeyTop__pageList__bg__inner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
}

.p-journeyTop__panel {
  position: relative;
  width: 37.5vw;
  top: 1.25vw;
  padding: 6.25vw 6.25vw calc(4.375vw - 20px);
  -webkit-box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.15);
  background-color: #fff;
  z-index: 30;
}

.p-journeyTop__panel__line {
  position: absolute;
  width: 100%;
  height: 5px;
  top: 0;
  left: 0;
}

.p-journeyTop__panel__line__inner {
  width: 100%;
  height: 100%;
}

.p-journeyTop__panel__circle {
  position: absolute;
  top: -3.90625vw;

  img {
    width: 7.8125vw;
    height: 7.8125vw;
  }
}

.p-journeyTop__pageList__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 107.142857%;

  &:not(:last-of-type) {
    margin-bottom: 6.25vw;
  }

  &:nth-of-type(odd) {
    margin-left: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;

    .p-journeyTop__panel {
      left: 6.25vw;
    }

    .p-journeyTop__panel__circle {
      right: -3.90625vw;
    }
  }

  &:nth-of-type(2n) {
    margin-left: -6.25vw;

    .p-journeyTop__panel {
      right: 6.25vw;
    }

    .p-journeyTop__panel__circle {
      left: -3.90625vw;
    }
  }

  &.activity {
    .p-journeyTop__pageList__bg {
      width: 96vw;
      height: 22.75vw;
      top: -7.5vw;
      left: -3.75vw;
    }

    .p-journeyTop__pageList__bg__inner {
      // background-image: url(images/journey/common/activity.svg);
    }

    .p-journeyTop__panel__line__inner {
      background-color: #3e7c75;
    }
  }

  &.cuisine {
    .p-journeyTop__pageList__bg {
      width: 93.8125vw;
      height: 14.6875vw;
      right: -5.5vw;
      bottom: 1vw;
    }

    .p-journeyTop__pageList__bg__inner {
      // background-image: url(images/journey/common/cuisine.svg);
    }

    .p-journeyTop__panel__line__inner {
      background-color: #7c3e3e;
    }
  }

  &.sightseeing {
    .p-journeyTop__pageList__bg {
      width: 98.3125vw;
      height: 18.75vw;
      left: -5vw;
      bottom: -3vw;
    }

    .p-journeyTop__pageList__bg__inner {
      // background-image: url(images/journey/common/sightseeing.svg);
    }

    .p-journeyTop__panel__line__inner {
      background-color: #3e457c;
    }
  }

  &.accommodation {
    .p-journeyTop__pageList__bg {
      width: 171.9vw;
      height: 17.625vw;
      left: 2.5vw;
      bottom: -12vw;
    }

    .p-journeyTop__pageList__bg__inner {
      // background-image: url(images/journey/common/accommodation.svg);
    }

    .p-journeyTop__panel__line__inner {
      background-color: #8a8233;
    }
  }
}

.p-journeyTop__panel__btn {
  margin-top: 1.875vw;
}

.p-journeyTop__banner {
  display: block;
  width: 56.25vw;
  height: 37.5vw;
}

.p-journeyTop__map__controller {
  position: absolute;
  width: 100%;
  top: -50px;
}

@media screen and (min-width: 1600px) {
  .p-journeyTop__mainVisual__title > {
    small {
      font-size: 2rem;
      margin-bottom: 30px;
    }

    strong {
      font-size: 10rem;
      margin-bottom: 5px;
    }

    span {
      font-size: 3rem;
    }
  }

  .p-journeyTop__mainVisual__body {
    padding-top: 50px;
  }

  .p-journeyTop__intro {
    padding-top: 100px;
  }

  .p-journeyTop__intro__head {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .p-journeyTop__intro__body {
    padding-top: 100px;
    padding-bottom: 190px;
  }

  .p-journeyTop__overviewMenu__item:not(:last-of-type) {
    margin-bottom: 100px;
  }

  .p-journeyTop__panel__title {
    margin-bottom: 30px;

    > {
      span {
        font-size: 3.6rem;
      }

      small {
        font-size: 1.8rem;
      }
    }
  }

  .p-journeyTop__overviewMenu {
    margin-top: 100px;

    dt {
      padding-right: 15px;
      padding-left: 15px;
    }

    dd {
      &:first-of-type {
        margin-top: 25px;
        margin-bottom: 25px;
      }

      span {
        font-size: 4rem;
      }
    }
  }

  .p-journeyTop__panel {
    width: 600px;
    top: 40px;
    padding: 100px 100px 70px;
  }

  .p-journeyTop__panel__circle {
    position: absolute;
    top: -62.5px;

    img {
      width: 125px;
      height: 125px;
    }
  }

  .p-journeyTop__pageList__item {
    &:nth-of-type(odd) {
      .p-journeyTop__panel {
        left: calc(6.25vw + (37.5vw - 600px));
      }

      .p-journeyTop__panel__circle {
        right: -62px;
      }
    }

    &:nth-of-type(2n) {
      .p-journeyTop__panel {
        right: calc(6.25vw + (37.5vw - 600px));
      }

      .p-journeyTop__panel__circle {
        left: -62px;
      }
    }
  }

  .p-journeyTop__panel__btn {
    margin-top: 30px;
  }
}

@media screen and (max-width: 1200px) {
  .p-journeyTop__mainVisual__body p {
    font-size: 1.4rem;
  }

  .p-journeyTop__pageList__item {
    &:nth-of-type(2n) .p-journeyTop__panel {
      right: 3.125vw;
    }

    &:nth-of-type(odd) .p-journeyTop__panel {
      left: 3.125vw;
    }
  }
}

@media screen and (max-width: 1000px) {
  .p-journeyTop__mainVisual__body p {
    font-size: 1.3rem;
  }

  .p-journeyTop__pageList__item {
    &:nth-of-type(2n) .p-journeyTop__panel {
      right: 31px;
    }

    &:nth-of-type(odd) .p-journeyTop__panel {
      left: 31px;
    }
  }
}

@media screen and (max-width: 768px) {
  .p-journeyTop.yambaru .p-journeyTop__intro__bg--map {
    width: 210.5vw;
    height: 327.49276859504135vw;
    top: -58vw;
    right: 12vw;
  }

  .p-journeyTop__mainVisual {
    position: relative;
  }

  .p-journeyTop__mainVisual__inner {
    width: 100%;
    min-width: 0;
    padding-left: 0;
  }

  .p-journeyTop__mainVisual__title {
    margin-bottom: 50px;

    > {
      small {
        margin-bottom: 15px;
        font-size: 1rem;
      }

      strong {
        margin-bottom: 5px;
        font-size: 5rem;
      }

      span {
        font-size: 1.5rem;
      }
    }
  }

  .p-journeyTop__mainVisual__body {
    padding-top: 0;
    padding-bottom: 0;

    p {
      font-size: 1.2rem;
      line-height: 1.875;
    }
  }

  .p-journeyTop__intro {
    padding-top: 95px;
  }

  .p-journeyTop__intro__head {
    padding-top: 0;
    padding-bottom: 0;
  }

  .p-journeyTop__intro__body {
    padding-top: 0;
    padding-bottom: 10.6667vw;
  }

  .p-journeyTop__overviewMenu__item {
    width: 50%;
    margin-bottom: 10.6667vw;
  }

  .p-journeyTop__panel__title {
    margin-bottom: 10px;

    > {
      span {
        font-size: 3rem;
        margin-right: 10px;
      }

      small {
        font-size: 1.4rem;
      }
    }
  }

  .p-journeyTop__overviewMenu {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 55px;

    dl {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }

    dt {
      padding-right: 5px;
      padding-left: 5px;
    }

    dd {
      &:first-of-type {
        width: 100%;
        height: 1px;
        margin-top: 15px;
        margin-bottom: 15px;
      }

      span {
        font-size: 2.5rem;
      }

      small {
        font-size: 1rem;
      }
    }
  }

  .p-journeyTop__panel {
    width: 81.25vw;
    max-width: 420px;
    top: -6.6667vw;
    padding: 35px 6.25vw 30px;
  }

  .p-journeyTop__panel__circle {
    top: -8.33335vw;

    img {
      width: 16.6667vw;
      height: 16.6667vw;
    }
  }

  .p-journeyTop__banner {
    width: 84.375vw;
    height: 55.82vw;
  }

  .p-journeyTop__pageList__item {
    display: block;
    width: 107.142857%;

    &:not(:last-of-type) {
      margin-bottom: 6.666663vw;
    }

    &:nth-of-type(odd) {
      margin-left: 0;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;

      .p-journeyTop__banner {
        margin-left: auto;
        margin-right: 6.125vw;
      }

      .p-journeyTop__panel {
        left: 0;
      }

      .p-journeyTop__panel__circle {
        right: -7.25vw;
      }
    }

    &:nth-of-type(2n) {
      margin-left: 0;

      .p-journeyTop__panel {
        right: 6.25vw;
        margin-left: auto;
      }

      .p-journeyTop__panel__circle {
        left: -7.25vw;
      }
    }

    &.activity::before {
      width: 140vw;
      height: 33.177083333333336vw;
      top: -16.5vw;
      left: -8.75vw;
    }

    &.cuisine::before {
      width: 124.8125vw;
      height: 19.540931045969355vw;
      top: -17vw;
      right: -19.75vw;
      bottom: auto;
    }

    &.sightseeing::before {
      width: 138vw;
      height: 26.319135410044503vw;
      left: -11vw;
      bottom: 41vw;
    }

    &.accommodation::before {
      width: 221.6728697578196vw;
      height: 22.913627639155468vw;
      left: -12.5vw;
      bottom: -12vw;
    }
  }

  .p-journeyTop__panel__line {
    height: 2px;
  }

  .p-journeyTop__panel__btn {
    margin-top: 15px;
  }

  .p-journeyTop__map__controller {
    top: 0;
  }
}

@media screen and (max-width: 375px) {
  .p-journeyTop__panel__title > span {
    font-size: 6.6667vw;
  }
}
